*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}