* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
table {
    border-collapse: collapse;
    text-align: center;
    
}
tr, th, td {
    border: 1px solid black;
    padding: 10px;
}

tbody tr:hover {
    background-color: rgba(211, 211, 211, 0.384);
}