* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --roxo: rgba(80, 7, 80, 0.87);
    --transparente: rgba(255, 255, 255, 0.479);
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.conteiner {
    width: 80%;
    height: 50%;
    display: flex;
    background-color: var(--roxo);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px 1px black;
}

.for-img {
    width: 50%;
    height: 100%;
    margin-right: 50px;
}
.for-img img {
    width: 100%;
    margin-top: 50px;
}

.form {
    background-color: var(--transparente);
    padding: 20px;
    border-radius: 15px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.titulo-cadastro {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 0.80rem;
    text-decoration: underline;
}

.btn-entrar {
    padding: 0.50rem;
    width: 5rem;
    background-color: var(--roxo);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
        &:hover {
            background-color: rgb(107, 33, 176);
        }
}